In [1]:
!pip install xmltodict

Collecting xmltodict
  Downloading xmltodict-0.14.2-py2.py3-none-any.whl.metadata (8.0 kB)
Downloading xmltodict-0.14.2-py2.py3-none-any.whl (10.0 kB)
Installing collected packages: xmltodict
Successfully installed xmltodict-0.14.2

In [35]:
import os
import json
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [36]:
data_folder = "data/KZT"
all_data = []
#loading in all the data from data file from quest 1

In [37]:
for filename in os.listdir(data_folder):
    if filename.endswith(".json"):
        file_path = os.path.join(data_folder, filename)
        try:
            with open(file_path, "r", encoding = "utf-8") as f:
                data = json.load(f)
                date = filename.replace(".json", "")
                items = data["channel"]["item"]
                for entry in items:
                    all_data.append({
                        "date": date,
                        "base": entry["baseCurrency"],
                        "target": entry["targetCurrency"],
                        "rate": float(entry["exchangeRate"])
                    })
        except Exception as e:
            print(f"Error reading {filename}: {e}")

In [38]:
df = pd.DataFrame(all_data)
df["date"] = pd.to_datetime(df["date"])
df.sort_values("date", inplace = True)
df.head()

         date base target      rate
0  2011-05-04  KZT    EUR  0.004609
29 2011-05-04  KZT    PLN  0.018165
30 2011-05-04  KZT    QAR  0.024967
31 2011-05-04  KZT    RUB  0.187414
32 2011-05-04  KZT    SAR  0.025722

In [39]:
major_currencies = ["USD", "EUR", "GBP", "JPY", "CNY"]
df_major = df[df["target"].isin(major_currencies)]

In [ ]:
#all_data = load_data(base_currency)
#all_data["date"] = pd.to_datetime(all_data["date"])
#columns_to_keep = ["date"] + major_targets
#filtered_data = all_data[columns_to_keep]
#filtered_data["date"] = pd.to_datetime(filtered_data["date"])

Error parsing 2011-05-04.json: 'date'
Error parsing 2011-05-05.json: 'date'
Error parsing 2011-05-06.json: 'date'
Error parsing 2011-05-07.json: 'date'
Error parsing 2011-05-08.json: 'date'
Error parsing 2011-05-09.json: 'date'
Error parsing 2011-05-10.json: 'date'
Error parsing 2011-05-11.json: 'date'
Error parsing 2011-05-12.json: 'date'
Error parsing 2011-05-13.json: 'date'
Error parsing 2011-05-14.json: 'date'
Error parsing 2011-05-15.json: 'date'
Error parsing 2011-05-16.json: 'date'
Error parsing 2011-05-17.json: 'date'
Error parsing 2011-05-18.json: 'date'
Error parsing 2011-05-19.json: 'date'
Error parsing 2011-05-20.json: 'date'
Error parsing 2011-05-21.json: 'date'
Error parsing 2011-05-22.json: 'date'
Error parsing 2011-05-23.json: 'date'
Error parsing 2011-05-24.json: 'date'
Error parsing 2011-05-25.json: 'date'
Error parsing 2011-05-26.json: 'date'
Error parsing 2011-05-27.json: 'date'
Error parsing 2011-05-28.json: 'date'
Error parsing 2011-05-29.json: 'date'
Error parsing 2011-05-30.json: 'date'
Error parsing 2011-05-31.json: 'date'
Error parsing 2011-06-01.json: 'date'
Error parsing 2011-06-02.json: 'date'

KeyError: 'date'

In [ ]:
#time_series_df = filtered_data.pivot(index="date", columns = "targetCurrency", value = "exchangeRate")

NameError: name 'filtered_data' is not defined